


#pizza-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  

  #pizza-form label {
    font-weight: bold;
  }
  
 
  #pizza-form input,
  #pizza-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  
  #pizza-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  
  #pizza-form input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  
  #order-button {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  #order-button:hover {
    background-color: #45a049;
  }

  